.background {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#quote-box {
  width: 500px;
  margin: 0 auto; /*top and bottom have no margins and auto is used to center within container*/
  min-height: 300px;
  display: flex;
  flex-direction: column; /*stack vertically flex elements*/
  justify-content: space-between; /* property to align items horizontally, center is nice but to add more space use space-around (space before, between and after) or space-between (just between elements)*/
  padding: 2rem; /*space between content and borders*/
  text-align: left;
  background-color: white;
  border-radius: 8px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.6);
}

.quote-content {
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 10px;
}

#author {
  text-align: right;
}

button, a {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  width: fit-content;
  font-weight: 500;
  background: #1a1a1a;
  cursor: pointer;
  font-family: inherit;
  color: white;
  font-size: 1em;
}

a {
  margin-right: 10px;
}